/* ----------------ABOUT------------------
=========================================== */

.about {
    min-height: 552px;
}

.about__container {
    display: flex;
}

.about__image {
    width: 490px;
    height: 505px;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: -85px;
}

.about__content-background {
    width: 787px;
    height: 455px;
    border-radius: 5px;
    margin-left: -138px;
    margin-top: 15px;
}

.about__content {
    width: 785px;
    height: 455px;
    display: flex;
    flex-direction: column;
    margin-top: 82px;
    margin-left: -705px;
}

.about__description {
    width: 500px;
    height: 45px;
    color: black;
    line-height: 1.7;
    margin-top: -15px;
}

.about__title {
    color: black;
    z-index: 10;
}

.about__button {
    left: 79px;
    top: 334px;
    display: block;
    height: 55px;
    width: 168px;
    border-radius: 35px;
    background-color: #F5170E;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 133px;
}

.about__button:hover {
    background-color: #DA0100;
}