.about__container {
    height: 552px;
    display: flex;
    margin-bottom: 80px;
}

.about__container::before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    background: url(../images/about1.jpg) center center / cover no-repeat;
    border-radius: 5px;
}

.about__content {
    width: 785px;
    height: 455px;
    border-radius: 5px;
    background: url(../images/about2.jpg) center center / cover no-repeat;
    margin-top: 97px;
    color: black;
    margin-left: -138px;
    padding-top: 70px;
    padding-left: 81px;
    padding-right: 202px;
}

.about__title {
    margin-bottom: 37px;
}

.about__description {
    line-height: 1.75;
    margin-bottom: 45px;
}

.about__button {
    display: block;
    height: 55px;
    width: 168px;
    border-radius: 35px;
    background-color: #F5170E;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.about__button:hover {
    background-color: #DA0100;
}