.activity {
    width: 1168px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.activity__container {
    margin-bottom: 85px;
}

.activity__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;    
}

.activity__item {
    display: flex;
    margin-bottom: 47px;
}

.activity__pic {
    width: 460px;
    height: 333px;
    border-radius: 5px;
}

.activity__content {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
}

.activity__title {
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 32px;
    margin-top: 18px;
}

.activity__description {
    margin-bottom: 35px;
    color: black;
    line-height: 27px;
    flex: 1;
}

.button--activity {
    display: block;
    height: 55px;
    width: 168px;
    border-radius: 35px;
    background-color: white;
    text-align: center;
    color: #DA0100;
    border: 1px solid #DA0100;
    font-size: 15px;
    font-weight: bold;

    margin-bottom: 20px;


    transition: .2s linear;

}

.button--activity:hover {
    background-color: #DA0100;
    color: white;

    transition: .2s linear;

}








