.footer {
    background-color: #001821;
    height: 93px;
    padding-top: 20px;
}

.footer--second {
    min-height: 132px;
    padding-top: 12px;
    display: flex;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__col {
    display: flex;
    align-items: center;
}


.footer__col--two {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.social-media {
    display: flex;
    margin-right: 75px;
}

.social-media__item {
    margin-right: 10px;
    opacity: 40%;
}

.social-media__item:last-child {
    margin-right: 0;
}

.social-media__item:hover {
    opacity: 100%;
}

.footer__contacts {
    padding-top: 5px;
}


.contacts__text {
    font-size: 11px;
    font-weight: regular;
    font-style: normal;
    color: #9A9A9A;
    margin-bottom: 5px;
    align-self: flex-end;
}