.footer {
    background-color: black;
    height: 93px;    
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}


.footer__col {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}


.footer__col--two {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.social-media {
    display: flex;
    margin-right: 75px;
}

.social-media__item {
    margin-right: 10px;
    opacity: 40%;
}

.social-media__item:last-child {
    margin-right: 0;
}

.social-media__item:hover {
    opacity: 100%;
}



.contacts__text {
    font-size: 11px;
    font-weight: regular;
    font-style: normal;
    color: #9A9A9A;
    align-self: flex-end;
}