.header {
    height: 123px;
    margin-bottom: 46px;
    padding-top: 26px;
}

.header--second {
	background-image: url(/air-asia/images/headline1.jpg);
    background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
	padding-top: 29px;
    min-height: 412px;
    margin-bottom: 98px;
    display: flex;
    flex-direction: column;

}

.header__description {
    margin-top: 100px;
}

.title--second {
    margin-bottom: 80px;
    font-size: 72px;
    font-weight: bold;
}

.breadcrumbs {
}

.breadcrumbs__menu {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    font-size: 14px;
    text-decoration: underline;
    color: #9A9A9A;
}

.breadcrumbs__link:hover {
    text-decoration: none;
    color: #DA0100;
}

.breadcrumbs__item:after {
    content: "/";
    text-decoration: none;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__item--active {
    font-weight: bold;
}



.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header__col {
    display: flex;
    align-items: center;
}



.container__header--second {
    margin-bottom: -10px;
}

.logo {
    margin-bottom: 10px;
    margin-right: 79px;
}



.menu {
    min-width: 264px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    font-size: 14px;
}

.menu__link {
    text-decoration: none;
    color: white;
}

.menu__link:hover {
    color: #DA0100;
}





.contacts {
    display: flex;
    flex-direction: column;
}

.contacts__phone {
    font-size: 26px;
    font-style: normal;
    text-decoration: none;
}

.contacts__info {
    font-size: 13px;
    color: #98A4A8;
    font-weight: regular;
    font-style:normal;
    text-decoration-line: underline;
    align-self: flex-end;
    margin-top: -5px;
}

.contacts__info:hover {
    color: white;
    cursor: pointer;
}
