/* ----------------HELLO------------------
=========================================== */

.hello {
    height: 333px;
    margin-bottom: 248px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

.hello__title {
    width: 511px;
    margin-bottom: 26px;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.4;
}

.hello__subtitle {
    font-size: 18px;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-bottom: 30px;
}

.hello__button {
    display: block;
    height: 55px;
    width: 168px;
    border-radius: 35px;
    background-color: #F5170E;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1px;

}

.hello__button:hover {
    background-color: #DA0100;
}