/* ----------------HELLO------------------
=========================================== */

.hello {
    height: 333px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 248px;

}

.hello__container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 248px;
}

.hello__title {
    max-width: 511px;
    width: 100%;
    margin-bottom: 26px;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.4;
}

.hello__subtitle {
    font-size: 18px;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-bottom: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 168px;
    border-radius: 35px;
    background-color: #F5170E;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    transition: .2s linear;
}

.button:hover {
    background-color: #DA0100;

    transition: .2s linear;
}