/* ----------------NEWS------------------
========================================= */

.news {
    margin-bottom: 145px;
}

.news__list {
    display: flex;
    margin-bottom: 55px;
}

.news__item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 555px;
    margin-right: 26px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__pic {
    border-radius: 5px;
}

.news__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 0px 0px 26px 31px;
    min-height: 138px;
    width: 100%;
}

.news__month {
    margin-bottom: 18px;
    font-size: 14px;
}

.news__title {
    margin-bottom: 9px;
    font-size: 24px;
    font-weight: bold;
}

.news__description {
}