/* ----------------NEWS------------------
========================================= */

.news {
    margin-bottom: 230px;
}

.news__list {
    display: flex;
}

.news__item {
    display: flex;
    min-height: 394px;
    width: 555px;
    margin-right: 26px;
    vertical-align: middle;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 53px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__pic {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.news__month {
    font-size: 14px;
    margin-top: -140px;
    margin-bottom: 18px;
    margin-left: 31px;
}

.news__title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 31px;
    margin-bottom: 9px;
}

.news__description {
    margin-left: 31px;
}