/* ----------------OFFERSS------------------
============================================ */

.offers {
    height: 549px;
    margin-bottom: 127px;
    display: flex;
    flex-direction: row;
}

.title--fire::after {
    content: url(../images/flame.svg);
    display: inline-block;
    height: 28px;
    width: 21px;
    margin-left: 15px;
}

.offers__list {
    display: flex;
}

.offers__item {
    max-width: 362px;
    min-height: 449px;
    font-size: 14px;
    background-color: white;
    margin-right: 28px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__content {
    top: 144px;
}

.offers__pic {
    width: 100%;
    height: 144px;
    top:0;
    z-index: 100;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 33px;
}

.offers__title {
    top: 33px;
    font-size: 24px;
    font-weight: bold;
    color: #303030;
    margin-left: 22px;
    margin-bottom: 21px;
}

.offers__text {
    width: 324px;
    color: black;
    line-height: 1.55;
    margin-left: 22px;
    margin-bottom: 25px;
}

/* ----------------OFFERSS-FEATURES------------------
============================================ */

.offers__features {
    font-size: 12px;
    margin-left: 29px;
    display: flex;
    margin-bottom: 24px;
}

.offers__feature {
    width: 135px;
    margin-right: 10px;
    display: flex;

}

.offers__feature-icon {
    margin-right: 10px;
}

.offers__feature-text {
    color: #303030;
    margin-bottom: 2px;
    right: 13px;
    font-size: 16px;
    align-self: flex-end;
}


/* ----------------OFFERSS BUTTON------------------
============================================ */

.offers__button {
    height: 55px;
    width: 135px;
    display: block;
    border-radius: 35px;
    background-color: white;
    border: 1.5px solid #F5170E;
    color: #F5170E;
    text-align: center;
    padding-top: 17px;
    /* left: 22px;
    top: 224px; */
    font-weight: bold;
    margin-left: 24px;
}

.offers__button:hover {
    background-color: #F5170E;
    color: white;
}