/* ----------------PAGINATOR------------------
=========================================== */

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginator__display {
    font-size: 16px;
    margin-right: 36px;
}

.paginator__list {
    display: flex;
}

.paginator__item {
    margin-right: 3px;
}

.paginator__item:last-child {
    margin-right: 0;
}

.paginator__link, .paginator__link--orange {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}

.paginator__link:hover {
    color: #F5170E;
    background-color: white;
}


.paginator__link--orange:hover {
    color: white;
    background-color: #F5170E;
}

.paginator--black {
    color: black;
    padding-left: 30px;
}