/* ----------------PAGINATOR------------------
=========================================== */

.paginator {
    margin-top: 2px;
    width: 345px;
    height: 30px;
    display: flex;
    margin-left: 382px;
    align-items: center;
    justify-content: space-between;
}

.paginator__display {
    font-size: 16px;
    padding-bottom: 3px;
}

.paginator__list {
    width: 190px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.paginator__item {
    margin-right: 3px;
}

.paginator__item:last-child {
    margin-right: 0;
}

.paginator__link, .paginator__link--orange {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}

.paginator__link:hover {
    color: #F5170E;
    background-color: white;
}


.paginator__link--orange:hover {
    color: white;
    background-color: #F5170E;
}

.paginator--black {
    color: black;
    margin-left: 395px;
    /* margin-bottom: 170px; */
}