.partners {
    /* max-height: 537px; */
    background-color: #F4F5F5;
    padding-bottom: 35px;
}

.partners__title {
    padding-top: 90px;
    margin-bottom: 90px;
    color: black;
    font-size: 48px;
    font-weight: bold;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.partners__item {
    margin-right: 45px;
    margin-bottom: 73px;
}

.partners__item:nth-child(4n) {
}

.partners__img {
    filter: grayscale(1);
}

.partners__img:hover {
    filter: grayscale(0);
}
