.partners {
    background-color: #F4F5F5;
    padding-bottom: 35px;
}

.partners__title {
    padding-top: 92px;
    margin-bottom: 72px;
    color: black;
    font-size: 48px;
    font-weight: bold;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.partners__item {
    margin-left: 45px;
    margin-bottom: 30px;    
}

.partners__item:nth-child(4n+1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
}

.partners__link {
    filter: grayscale(1);

    transition: .2s linear;

}

.partners__link:hover {
    filter: grayscale(0);

    transition: .2s linear;

}
