.partners {
    margin-top: 73px;
    /* margin-bottom: 170px; */
    /* height: 537px; */
}

.partners__title {
    margin-top: 88px;
    margin-bottom: 79px;
    color: black;
    font-size: 48px;
    font-weight: bold;
}

.partners__pic {
    margin-bottom: 150px; 
}